a {
  text-decoration: none;
  color:var(--white);
  font-size: 20px;
  font-weight: 500;
  transition:color,   ease-in-out 0.3s ;
}
nav {
  display: flex;
  gap: 40px;
  width: 100%;
  justify-content: flex-end;
  padding-bottom: 30px;
  border-bottom: 2px solid var(--golden-yellow);
}

a:hover {
  cursor: pointer;
  color:var(--golden-yellow)
  
}

.logo {
  height: 64px;
  width: auto; 
  border: none;
  margin-right: 40px;
}

.wrapper {
  display: flex; 
}